* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    border-radius: 15px;
}
.modules-center {
background: rgba(255, 127, 0, 1);
}

.modules-left {
background: rgba(100, 100, 100, 1);
}

window#waybar {
    background: rgba(255, 127, 0, 1);
    color: rgba(248, 248, 242, 1);
}

#workspaces button {
    padding: 0 12px;
    color: #ffffff;
}

#workspaces button:hover {
    background: none;
    color: orange;
    border: none;
    box-shadow: none;
    transition: none;
}

#workspaces button.active {
    color: orange;
}

#clock {
padding: 3px 0px;
}

#workspaces {
background: rgba(30, 30, 30, 1);
}

#window {
background: rgba(100, 100, 100, 1);
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#cpu {
padding-right: 15px;
background: rgba(100, 100, 100, 1);
}


#memory {
padding: 2px 5px;
background: rgba(100, 100, 100, 1);
}

#network {
background: rgba(100, 100, 100, 1);
}

#pulseaudio {
	padding: 3px 0px;
	padding-right: 25px;
	padding-left: 5px;
background: rgba(30, 30, 30, 1);
}

#pulseaudio.muted {
color: #2a5c45;
}

#tray {
	padding: 3px 0px;
	padding-right: 10px;
background: rgba(30, 30, 30, 1);
}

#custom-power {
background: rgba(30, 30, 30, 1);
}




