* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16;
    border-radius: 15;
}

.modules-center {
background: rgba(210, 85, 12, 1)
}

.modules-left {
background: rgba(100, 100, 100, 1);
}

.modules-right {
background: rgba(100, 100, 100, 1);
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

window#waybar {
    color: rgba(248, 248, 242, 1);
    background:none;
}

#hardware {
	background: rgba(100, 100, 100, 0.9);
}

#audio {
 background: rgba(30, 30, 30, 0.9);
}

#workspaces button {
    color: #ffffff;
}

#workspaces button:hover {
    background: none;
    color: orange;
    border: none;
    box-shadow: none;
    transition: none;
}

#workspaces button.active {
    color: orange;
}

#workspaces {
    background: rgba(30, 30, 30, 0.9);
    padding-left: 20;
    padding-right: 20;
}

#window {
    background: rgba(100, 100, 100, 0.9);
    padding-left: 20;
    padding-right: 20;
}

#network {
    padding-left: 20;
}

#cpu {
    padding-right: 15;
}

#memory {
    padding-right: 12;
}

#pulseaudio {
	padding-right: 30;
	padding-left: 15;
}

#tray {
	padding-right: 20;
}

#custom-power {
     padding-right: 15;
}

#clock {
     padding: 0 20;
}
