* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16;
    border-radius: 15;
}

.modules-center {
    background: #2F394E;
}

.modules-left {
    background: #808AA2;
}

.modules-right {
    background: #808AA2;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

window#waybar {
    color: rgba(248, 248, 242, 1);
    background:none;
}

#hardware {
	background:  #808AA2;
}

#audio {
     background: #626F8C;
}

#workspaces button {
    color: #ffffff;
}

#workspaces button:hover {
    background: none;
    color: orange;
    border: none;
    box-shadow: none;
    transition: none;
}

#workspaces button.active {
    color: orange;
}

#workspaces {
    background: #626F8C;
    padding-left: 20;
    padding-right: 20;
}

#window {
    background: #808AA2;
    padding-left: 20;
    padding-right: 20;
}

#network {
    padding-left: 5;
    padding-right: 15;
}

#temperature {
    padding-right: 15;
    margin-right: 0;
}

#cpu {
    padding-right: 15;
}

#memory {
    padding-right: 20;
    padding-left: 0;
}

#pulseaudio {
	padding-right: 20;
	padding-left: 20;
}

#tray {
	padding-right: 20;
}

#custom-power {
     padding-right: 15;
}

#clock {
     padding: 0 20;
}
